---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
	<nav>
		<h2><a href="/">{SITE_TITLE}</a></h2>
		<div class="internal-links">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
		</div>
		<div class="social-links">
			<a href="https://www.instagram.com/sutboy/" target="_blank">
				<span class="sr-only">Follow us on Instagram</span>
				<svg fill="currentColor" width="32" height="32" viewBox="0 0 32 32" aria-hidden="true">
					<g>
						<path d="M22.3,8.4c-0.8,0-1.4,0.6-1.4,1.4c0,0.8,0.6,1.4,1.4,1.4c0.8,0,1.4-0.6,1.4-1.4C23.7,9,23.1,8.4,22.3,8.4z"/>
						<path d="M16,10.2c-3.3,0-5.9,2.7-5.9,5.9s2.7,5.9,5.9,5.9s5.9-2.7,5.9-5.9S19.3,10.2,16,10.2z M16,19.9c-2.1,0-3.8-1.7-3.8-3.8   c0-2.1,1.7-3.8,3.8-3.8c2.1,0,3.8,1.7,3.8,3.8C19.8,18.2,18.1,19.9,16,19.9z"/>
						<path d="M20.8,4h-9.5C7.2,4,4,7.2,4,11.2v9.5c0,4,3.2,7.2,7.2,7.2h9.5c4,0,7.2-3.2,7.2-7.2v-9.5C28,7.2,24.8,4,20.8,4z M25.7,20.8   c0,2.7-2.2,5-5,5h-9.5c-2.7,0-5-2.2-5-5v-9.5c0-2.7,2.2-5,5-5h9.5c2.7,0,5,2.2,5,5V20.8z"/>
					</g>
				</svg>
			</a>
			<a href="https://www.reddit.com/user/Ironixization/" target="_blank">
				<span class="sr-only">Find my Reddit</span>
				<svg fill="currentColor" height="32px" width="32px" viewBox="0 0 279.748 279.748" aria-hidden="true" style="transform: translateY(-3px);">
					<path d="M279.748,133.142c0-19.299-15.701-35-35-35c-10.768,0-20.674,4.812-27.279,13.064
						c-18.532-8.431-39.663-13.626-62.015-15.271l19.206-60.692l42.895,9.294c3.285,12.782,14.901,22.258,28.693,22.258
						c16.336,0,29.627-13.29,29.627-29.626c0-16.336-13.291-29.627-29.627-29.627c-11.801,0-21.999,6.941-26.759,16.95l-49.497-10.725
						c-5.041-1.092-10.094,1.833-11.651,6.756l-23.705,74.907c-26.164,0.638-50.988,6.053-72.356,15.775
						C55.674,102.954,45.768,98.142,35,98.142c-19.299,0-35,15.701-35,35c0,9.373,3.683,18.173,10.222,24.709
						c-3.9,8.37-5.875,17.076-5.875,25.936c0,24.048,14.396,46.492,40.538,63.199c25.447,16.264,59.183,25.221,94.989,25.221
						c35.808,0,69.542-8.957,94.989-25.221c26.142-16.707,40.538-39.151,40.538-63.199c0-8.859-1.975-17.565-5.875-25.936
						C276.065,151.314,279.748,142.515,279.748,133.142z M15.369,145.139c-2.212-3.59-3.369-7.688-3.369-11.997c0-12.682,10.317-23,23-23
						c5.444,0,10.558,1.851,14.649,5.258C35.027,123.702,23.517,133.689,15.369,145.139z M68.04,165.405c0-13.785,11.215-25,25-25
						c13.785,0,25,11.215,25,25c0,13.785-11.215,25-25,25C79.255,190.405,68.04,179.19,68.04,165.405z M191.159,222.459
						c-9.745,10.637-29.396,17.244-51.285,17.244c-21.888,0-41.539-6.607-51.284-17.244c-1.805-1.97-2.733-4.525-2.617-7.192
						c0.116-2.669,1.266-5.133,3.235-6.937c1.849-1.694,4.247-2.627,6.754-2.627c2.797,0,5.484,1.183,7.373,3.244
						c5.803,6.333,20.827,10.756,36.539,10.756c15.712,0,30.737-4.423,36.539-10.756c1.889-2.062,4.576-3.244,7.374-3.244
						c2.508,0,4.906,0.933,6.755,2.627c1.97,1.804,3.118,4.268,3.234,6.937C193.893,217.934,192.964,220.489,191.159,222.459z
						 M186.708,190.405c-13.785,0-25-11.215-25-25c0-13.785,11.215-25,25-25c13.785,0,25,11.215,25,25
						C211.708,179.19,200.493,190.405,186.708,190.405z M264.379,145.139c-8.147-11.45-19.657-21.436-34.28-29.739
						c4.092-3.408,9.205-5.258,14.649-5.258c12.683,0,23,10.318,23,23C267.748,137.451,266.591,141.549,264.379,145.139z"/>
				</svg>
			</a>
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	.social-links {
		display: flex;
		align-items: center;
	}
	.social-links a {
		display: flex;
		align-items: center;
	}
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}
</style>
